---
name: Rockstat kernel v3
identify: &httpCommon
  param: uid
  cookieMaxAge: <%= 3 * 365 * 24 * 60 * 60 %>
http:
  host: <%= env.HOST || '0.0.0.0' %>
  port: <%= env.PORT || '8080' %>
websocket:
  http:
    host: <%= env.HOST || '0.0.0.0' %>
    port: <%= env.PORT_WS || '8082' %>
  https:
    host: <%= env.HOST || '0.0.0.0' %>
    port: <%= env.PORT_WSS || '8083' %>
    certFile: <%= env.SSL_CERT %>
    keyFile: <%= env.SSL_KEY %>
  path: /wss
  perMessageDeflate:  # See zlib defaults.
    zlibDeflateOptions:
      chunkSize: 1024
      memLevel: 7
      level: 3
    zlibInflateOptions:
      chunkSize: <%= 10 * 1024 %>
    # Other options settable:
    clientNoContextTakeover: true # Defaults to negotiated value.
    serverNoContextTakeover: true  # Defaults to negotiated value.
    clientMaxWindowBits: 10       # Defaults to negotiated value.
    serverMaxWindowBits: 10       # Defaults to negotiated value.
    # Below options specified as default values.
    concurrencyLimit: 10          # Limits zlib concurrency for perf.
    threshold: 1024               # Size (in bytes) below which messages
    # should not be compressed.

rpc:
  name: kernel

redis:
  host: <%= env.REDIS_HOST || '127.0.0.1' %>
  port: <%= env.REDIS_PORT || '6379' %>
  db: <%= env.REDIS_DB || 2 %>
  url:
log:
  use: pino
  pino:
    safe: true
    level: <%= env.LOG_LEVEL || 'info' %>
    prettyPrint: false

client: {} # do not remove. root element should be present

browserLib:
  prod:
    file: clientlib/lib.js
  dev:
    file: clientlib/lib-dev.js

