---
name: Rockstat frontier v3
identify: &httpCommon
  param: uid
  cookieMaxAge: <%= 3 * 365 * 24 * 60 * 60 %>
http:
  host: <%= env.HOST || '0.0.0.0' %>
  port: <%= env.PORT || '8080' %>
  channels:
    # service: channel
    # channels details look at src/constants/common.ts
    wh: wh
    webhook: wh
    redir: redir
    redirect: redir
    pixel: pixel
    gif: pixel
    img: pixel
    #pseudo-services for web-sdk
    track: track
  routes:
    # Можно добавалять свои кастомные роуты (конфликтуют)
    # - ["get", "/wh/:projectId/:service/:name"]
    # - ["post", "/wh/:projectId/:service/:name"]
    # - ["get", "/redir/:projectId/:service/:name"]
    # - ["get", "/img/:projectId/:service/:name"]

websocket:
  http:
    host: <%= env.HOST || '0.0.0.0' %>
    port: <%= env.PORT_WS || env.PORT && Number(env.PORT) + 2 || '8082' %>
  path: /wss
  perMessageDeflate:  # See zlib defaults.
    zlibDeflateOptions:
      chunkSize: 1024
      memLevel: 7
      level: 3
    zlibInflateOptions:
      chunkSize: <%= 10 * 1024 %>
    # Other options settable:
    clientNoContextTakeover: true # Defaults to negotiated value.
    serverNoContextTakeover: true  # Defaults to negotiated value.
    clientMaxWindowBits: 10       # Defaults to negotiated value.
    serverMaxWindowBits: 10       # Defaults to negotiated value.
    # Below options specified as default values.
    concurrencyLimit: 10          # Limits zlib concurrency for perf.
    threshold: 1024               # Size (in bytes) below which messages
    # should not be compressed.

rpc:
  name: frontier
  listen_all: false
  listen_direct: true

redis:
  host: <%= env.REDIS_HOST || '127.0.0.1' %>
  port: <%= env.REDIS_PORT || '6379' %>
  db: <%= env.REDIS_DB || 2 %>
  url:
log:
  use: pino
  pino:
    safe: true
    level: <%= env.LOG_LEVEL || 'info' %>
    prettyPrint: false

client: {} # do not remove. root element should be present

static:
  prod:
    file: web-sdk-dist/lib.js
  dev:
    file: web-sdk-dist/lib-dev.js

